.main-header{
    margin: 0 13rem;
}
.main-header__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-navigation__drawer-nav {
    height: 100%;
  }
.main-header__leftbox{
    display: flex;
    margin:1.3rem 0 ;
    gap: 1rem;
    align-items: center;
    text-align: left;
}

.main-header__menu-btn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
  }
  .main-header__menu-btn span {
    display: block;
    width: 3rem;
    height: 3px;
    background: rgb(0, 0, 0);
  }
  
.logo-name{
    font-size: 2rem;
}

@media (min-width: 768px) {
    .main-header__menu-btn {
      display: none;
    }
  
    .main-header__rightbox {
      display: block;
    }
  }
@media (max-width: 765px){
    .main-header__rightbox {
        display: none;
      }
}