

.nav-links{
    display: flex;
    gap: 5rem;
}
.nav-link{
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    color: #4285F4;
}
.nav-links a:active,
.nav-links a.active{
    /* background-color: #4285F4; */
    color: #4285F4;
    
}
.selected{
    background-color: #4285F4;
    color: rgb(0, 0, 0);
}